.BuscoFree{
    background-color: black;
        
        
        position: "absolute" !important;
   
        left: "55%";
        background: "transparent";

  
}

.carrouselxd{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

